@use '../abstracts/variables' as *;

/* //////////////////////
  Utility Classes
  /////////////////////// */

.shadow {
  box-shadow: $box-shadow-hard;
  border: solid 1px $black;

  &.button {
    box-shadow: 2px 3px 0 0 $black
  }
}

.is-narrow {
  max-width: 580px;
}

.platform {
  &-good {
    background-image:
      radial-gradient(farthest-side at bottom left,rgba(#485C5B, 0.5), transparent),
      radial-gradient(farthest-corner at top right,rgba(#7671F0, .5), transparent 1000px),
      radial-gradient(circle, #34414E, #1B232A); 
  }
  &-bad {
    background-image:
      radial-gradient(farthest-side at bottom left,rgba(#485C5B, 0.5), transparent),
      radial-gradient(farthest-corner at top right,rgba(#901E1E, .5), transparent 1000px),
      radial-gradient(circle, #401010, #1B232A); 
  }
}

.special-text {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
      to right,
      #F55555,
      #FCCF31,
      #F55555
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.mobile-only {
  @media (min-width: 820px) {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.two-col {
  display: flex;
  
}

// PADDING
.pt-0 { padding-top: 0 !important; }
.pr-0 { padding-right: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left: 0 !important; }

//MARGIN 
.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }

@keyframes background-pan {
  from {
      background-position: 0% center;
  }
  
  to {
      background-position: -200% center;
  }
}