---
layout: base.njk 
title: TCH | C12 Calculator
---


<div class="wrapper">
    <div class="container">
        <h1>C12 Calculator</h1>

        <form>
            <div class="field">
                <label>Balance (in $)</label>
                <input type="text" class="balance" placeholder="Balance" />
            </div>
            
            <div class="field">
                <label>Days</label>
                <input type="text" class="days" value="12" placeholder="Days" />
                <br />
            </div>
        </form>

        <div class="result">
            <h3>Total: <span>0</span></h3>
        </div>
    </div>
</div>