---
layout: base.njk 
title: TCH | C12 Calculator
---


<div class="wrapper" id="section-calc">
    <div class="container">
        <h1>C12 Calculator</h1>

        <form>
            <div class="field">
                <label>Balance (in $)</label>
                <input type="text" class="balance" placeholder="Balance" />
            </div>
            
            <div class="field">
                <label>Days</label>
                <input type="text" class="days" value="12" placeholder="Days" />
                <br />
            </div>
        </form>

        <div class="result">
            <h3>Total earned: $<span>0</span></h3>
        </div>

        <div class="accordion-container">               
            <div class="accordion">
                <div class="container is-max-widescreen accordion-inner">

                    <div class="accordion-header">
                        <h3>DAY BY DAY</h3>

                        <div class="accordion-indicator">
                            <p class="indicator-plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51">
                                    <g id="Group_45" data-name="Group 45" transform="translate(-580.5 -2740.5)">
                                        <line id="Line_22" data-name="Line 22" y2="51" transform="translate(606 2740.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                        <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2766)" fill="none" stroke="#fff" stroke-width="1"/>
                                    </g>
                                </svg>
                            </p>
                            
                            <p class="indicator-minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="1" viewBox="0 0 51 1">
                                    <g id="Group_44" data-name="Group 44" transform="translate(-580.5 -2785)">
                                        <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2785.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                    </g>
                                </svg>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-content">
                        <div class="accordion-content_inner">
                            <ul class="increase-list" role="list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>