---
layout: base.njk 
title: Example
---

<section class="section hero">
    <div class="hero-body">
        <h1>Struggling to make sense of cryptocurrency platforms?</h1>
        <p class="is-narrow">Discover the top-paying platforms with impartial reviews and expert insights</p>
    </div>
</section>


<div class="is-divider">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 1920 120" class="divider">
        <path 
        element="path-to-animate"
        d="M0,651.736s891.969-269.167,1920.4,0C98.458,651.316,0,651.736,0,651.736Z"
        final-path="M0,651.736s962.085-32.435,1920.4,0C98.458,651.316,0,651.736,0,651.736Z" 
        transform="translate(0.144 -531.572)" fill="#f7f7f7" />
    </svg>
</div>

<section class="section is-medium" id="section-mvp">

    <div class="container is-max-tablet">
        <h2 class="title">MVP April 2024</h2>
        <p class="subtitle">(Most Valuable Platform)</p>

        <div class="mvp cards">
            <div class="card shadow">
                <div class="card-information">
                    <h3 class="title"><span>1</span> YIPTG</h3>
                    <p><strong>Launched:</strong> Feb 18, 2024</p>
                    <p><strong>Long-Term Investment Platform</strong></p>

                    <p class="card-information__description">Explore all the essential details regarding YIPTG and its potential for high earnings.</p>

                    <div class="buttons">
                        <a href="#" class="button button-primary shadow">Register now</a>
                        <a href="#" class="button button-outline shadow">More details</a>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image">
                        <img src="/assets/images/logos/yiptg.png" alt="YIPTG">
                    </figure>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-information">
                    <h3 class="title"><span>2</span> Vanguard Edge AI</h3>
                    <p><strong>Launched:</strong> April 3, 2024</p>
                    <p><strong>Long-Term Investment Platform</strong></p>

                    <p class="card-information__description">Explore investment plans with daily returns and capital protection (deposit returned at plan completion).</p>

                    <div class="buttons">
                        <a href="#" class="button button-primary shadow">Register now</a>
                        <a href="#" class="button button-outline shadow">More details</a>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image">
                        <img src="/assets/images/logos/vanguard-edge-ai.png" alt="Vanguard Edge AI">
                    </figure>
                </div>
            </div>
            
            <div class="card shadow">
                <div class="card-information">
                    <h3 class="title"><span>3</span> AKA</h3>
                    <p><strong>Launched:</strong> Feb 23, 2024</p>
                    <p><strong>Long-Term Investment Opportunity</strong></p>

                    <p class="card-information__description">Discover the options that AKA can offer. Aka is a long-term investment option with various plans.</p>

                    <div class="buttons">
                        <a href="#" class="button button-primary shadow">Register now</a>
                        <a href="#" class="button button-outline shadow">More details</a>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image">
                        <img src="/assets/images/logos/aka.png" alt="AKA">
                    </figure>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-information">
                    <h3 class="title"><span>4</span> Finopta</h3>
                    <p><strong>Launched:</strong> October, 2023</p>
                    <p><strong>Investment Plans with Daily Returns</strong></p>

                    <p class="card-information__description">Explore all the essential details regarding Finopta and the investment plans with daily returns.</p>

                    <div class="buttons">
                        <a href="#" class="button button-primary shadow">Register now</a>
                        <a href="#" class="button button-outline shadow">More details</a>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image">
                        <img src="/assets/images/logos/finopta.png" alt="Finopta">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
