---
layout: base.njk 
title: Example
---

<section class="section hero">
    <div class="hero-body">
        <h1>Struggling to make sense of cryptocurrency platforms?</h1>
        <p class="is-narrow">Discover the top-paying platforms with impartial reviews and expert insights</p>
    </div>
</section>
