---
layout: base.njk 
title: The Crypto Hub
heroReferral: DSL
---

<section class="section hero">
    <div class="hero-body">
        <div class="content">
            <div class="text-wrapper">
                <h1>Struggling to make sense</h1>
                <h1>of <span>cryptocurrency</span></h1>
                <h1>platforms?</h1>
            </div>

            <p>Discover the top Crypto platforms! Access unbiased reviews to find the best options and steer clear of potential risks. Start your journey here at The Crypto Hub!</p>
            
            <div class="buttons">
                <a href="#best" class="button outlined">Get started</a>

                {% for ref in collections.currentBest %}
                    {% set ref = ref.data %}
                    <a href="{{ ref.referralLink }}" target="_blank" rel="noopener" class="button button-primary">{{ ref.title }} signup</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<a id="best" class="is-page-anchor"></a>
<section class="section is-medium" id="section-best">
    <div class="container is-max-widescreen">
        <h2 class="title is-text-centered">Current <span>best</span> platform</h2>

        {% for best in collections.currentBest %}
        {% set best = best.data %}
        
        <div class="tiles{% if best.vipTiers %} has-tiers{% endif %}">
            <div class="tile-title glared">
                <div>
                    <h3>{{ best.title }}</h3>
                    <p>{{ best.description }}</p>
                </div>
            </div>

            {% if best.vipTiers %}
            <div class="tile-vip-tiers glared">
                <h3>VIP</h3>

                <ul role="list">
                    {% for vipTier in best.vipTiers %}
                    <li>
                        <p><span>{{ vipTier.tier }}:</span> {{ vipTier.balance }}{% if vipTier.note %} <br /> <em>({{ vipTier.note }})</em>{% endif %}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="tile-info-small glared">
                <h3>Team Commissions and Referral Rewards:</h3>
                <p>{{ best.teamRewards }}</p>
            </div>

            <div class="tile-key-features glared">
                <h3>Key Features</h3>

                <div class="key-features">
                    <ul role="list">
                        {% for keyFeature in best.keyFeatures %}
                        <li>
                            <h5>{{ keyFeature.header }}</h5>
                            <p>{{ keyFeature.feature }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <a href="{{ best.referralLink }}" target="_blank" rel="noopener" class="tile-register glared">Click here to sign up now</a>

            <div class="tile-links glared">
                <h3>Resources</h3>

                <ul role="list">
                    {% for link in best.links %}
                    <li>
                        <a href="{{ link.link }}" target="_blank" rel="noopener" class="link-link">
                            {% if link.brand %}
                            <i class="fa-brands fa-{{ link.brand | kebab}}"></i>
                            {% elif link.website %}
                            <i class="fa-solid fa-globe"></i>
                            {% elif link.resource %}
                            <i class="fa-solid fa-file-lines"></i>
                            {% endif %}

                            {% if link.shortLink %}
                            <p>/{{ link.shortLink }}</p>
                            {% elif link.resource %}
                            <p>{{ link.title }}</p>
                            {% else %}
                            <p>{{ link.link }}</p>
                            {% endif %}
                        </a>
                        {% if link.note %}
                        <p><em>({{ link.note }})</em></p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<a id="champs" class="is-page-anchor"></a>
<section class="section is-medium px-0" id="section-champs">
    <h2 class="title is-text-centered">Platform <span>champs</span> April 2024</h2>

    <div class="accordion-container">
        {% for champ in collections.champs %}
        {% set champ = champ.data %}
        
        <div class="accordion">
            <div class="container is-max-widescreen accordion-inner">

                <div class="accordion-header">
                    <h3 class="accordion-header_title">{{ champ.title}}</h3>

                    <div class="accordion-indicator">
                        <p class="indicator-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51">
                                <g id="Group_45" data-name="Group 45" transform="translate(-580.5 -2740.5)">
                                    <line id="Line_22" data-name="Line 22" y2="51" transform="translate(606 2740.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                    <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2766)" fill="none" stroke="#fff" stroke-width="1"/>
                                </g>
                            </svg>
                        </p>
                        
                        <p class="indicator-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="1" viewBox="0 0 51 1">
                                <g id="Group_44" data-name="Group 44" transform="translate(-580.5 -2785)">
                                    <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2785.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                </g>
                            </svg>
                        </p>
                    </div>
                </div>

                <div class="accordion-content">
                    <div class="accordion-content_inner{% if champ.teamRewards %} has-team-rewards{% endif %}">
                        <div class="left">
                            <p class="champ-description">{{ champ.description }}</p>

                            <div class="buttons show-tablet-only">
                                <a href="{{ champ.referralLink }}" target="_blank" rel="noopener" class="button button-primary">Sign up now</a>
                            </div>

                            <div class="key-features">
                                <h4>Key Features</h4>

                                <ul role="list">
                                    {% for feature in champ.keyFeatures %}
                                        <li>
                                            <h5>{{ feature.header }}</h5>
                                            <p>{{ feature.feature }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% if champ.teamRewards %}
                            <div class="team-rewards">
                                <h4>Team rewards</h4>
                                <p>{{ champ.teamRewards }}</p>
                            </div>
                            {% endif %}

                            <div class="buttons hide-tablet-only">
                                <a href="{{ champ.referralLink }}" target="_blank" rel="noopener" class="button button-primary">Sign up now</a>
                            </div>
                        </div>

                        <div class="right">
                            {% if champ.vipTiers %}
                                <h4>VIP</h4>

                                <ul class="vip" role="list">
                                    {% for info in champ.vipTiers %}
                                        <li>
                                            <p><span>{{ info.tier }}</span>: {{ info.balance }}</p>
                                            {% if info.note %}
                                            <p><em>{{ info.note }}</em></p>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if champ.links %}
                            <h4>Resources</h4>
                            <ul role="list">
                                {% for link in champ.links %}
                                <li>
                                    <a href="{{ link.link }}" target="_blank" rel="noopener" class="link-link">
                                        {% if link.brand %}
                                        <i class="fa-brands fa-{{ link.brand | kebab}}"></i>
                                        {% elif link.website %}
                                        <i class="fa-solid fa-globe"></i>
                                        {% elif link.resource %}
                                        <i class="fa-solid fa-file-lines"></i>
                                        {% endif %}

                                        {% if link.shortLink %}
                                        <p>/{{ link.shortLink }}</p>
                                        {% elif link.resource %}
                                        <p>{{ link.title }}</p>
                                        {% else %}
                                        <p>{{ link.link }}</p>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<a id="signs" class="is-page-anchor"></a>
<section class="section is-medium px-0" id="section-signs">
    <div class="container is-text-centered is-max-tablet">
        <h2 class="title"><span>Signs</span> of a platform closing</h2>
        <p>There will come when a platform will show signs of coming to the end of its life. This section will showcase any platform that we think you should be aware of and the reasons why.</p>
    </div>

    <div class="cols">
        <div class="left">
            <p>There are several things that have happened identically in other platforms that have closed. It is important to note that these signs are not a dead given, but 9/10 it ends the same way.</p>

            <ul>
                <li>Upgraded VIP tiers</li>
                <li>Special offers</li>
                <li>Temporarily disabling withdrawals</li>
                <li>Customer support suddenly not responding</li>
            </ul>
        </div>
        <div class="right">
            <div class="image">
                <img src="/assets/images/logos/canaan.png" alt="Canaan">
            </div>
            <div class="text">
                <h4>Reasons to be aware</h4>
                <p>It has been announced on 30th April 2024 that there are some special offers. These offers include seemingly generous, such as refer a friend and get a $15 bonus and deposit $136 and they will match it, doubling your money. I would advice taking the bulk of your investment out.</p>
            </div>
        </div>
    </div>
</section>

<a id="avoid" class="is-page-anchor"></a>
<section class="section is-medium" id="section-avoid">
    <div class="container is-max-tablet">
        <h2 class="title is-text-centered">Platforms to <span>avoid</span></h2>

        <div class="accordion-container">
            {% for avoid in collections.avoids %}
            <div class="accordion">
                <div class="container is-max-widescreen accordion-inner">
                    <div class="accordion-header">
                        <h3 class="accordion-header_title">{{ avoid.data.title}}</h3>

                        <div class="accordion-indicator">
                            <p class="indicator-plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51">
                                    <g id="Group_45" data-name="Group 45" transform="translate(-580.5 -2740.5)">
                                        <line id="Line_22" data-name="Line 22" y2="51" transform="translate(606 2740.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                        <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2766)" fill="none" stroke="#fff" stroke-width="1"/>
                                    </g>
                                </svg>
                            </p>
                            
                            <p class="indicator-minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="1" viewBox="0 0 51 1">
                                    <g id="Group_44" data-name="Group 44" transform="translate(-580.5 -2785)">
                                        <line id="Line_23" data-name="Line 23" x1="51" transform="translate(580.5 2785.5)" fill="none" stroke="#fff" stroke-width="1"/>
                                    </g>
                                </svg>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-content">
                        <div class="accordion-content_inner">
                            <p>{{ avoid.data.avoidDescription }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{# <a id="trust" class="is-page-anchor"></a>
<section class="section is-medium" id="section-trust">
    <div class="container">
        <h2 class="title is-text-centered"><span>Proof</span> of withdrawals</h2>

        <div class="swiper trust-swiper">
            <div class="swiper-wrapper">
                {% for proof in collections.all %}
                    {% if proof.data.proof %}
                    <div class="swiper-slide">
                        <figure class="image proof">
                            <span class="platform">{{ proof.data.title }}</span>
                            <img src="/assets/images/proof/{{ proof.data.title | kebab }}.png" alt="{{ proof.data.title }} proof of withdrawal">
                        </figure>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            {% include "swiper-pagination.njk" %}
        </div>
    </div>
</section> #}

<a id="contact" class="is-page-anchor"></a>
<section class="section is-medium" id="section-contact">
    <div class="container is-max-desktop">
        <h2 class="title is-text-centered"><span>Contact</span> Details</h2>

        <div class="cols">
            <div class="left contact-form">
                <h4><i class="fa-solid fa-envelope"></i> Send us a message</h4>
                <form name="contact" netlify id="contact-form">
                    <input class="hidden" name="bot-field">
                    
                    <input type="text" name="name" placeholder="Name*"  required />
                    <input type="email" name="email" placeholder="Email address*" required />
                    <textarea cols="30" rows="5" placeholder="Message*" name="message" required></textarea>

                    <div class="buttons">
                        <input type="reset" value="Clear">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="right contact-socials">
                <div>
                    <h4>Find us on Telegram</h4>

                    <figure class="image qr">
                        <img src="./assets/images/telegram-qr.svg" alt="Telegram QR Code">
                    </figure>

                    <a href="https://t.me/thecryptohub1" target="_blank" rel="noopener" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M50,25A25,25,0,1,1,25,0,25,25,0,0,1,50,25ZM25.9,18.456q-3.647,1.516-14.579,6.279-1.775.706-1.86,1.381c-.1.762.858,1.062,2.154,1.469.177.056.36.112.548.175a17.838,17.838,0,0,0,3.885.919,4.765,4.765,0,0,0,2.712-1q10.212-6.9,10.544-6.971a.574.574,0,0,1,.519.05.514.514,0,0,1,.117.442c-.1.4-3.833,3.879-5.771,5.679-.6.56-1.031.958-1.119,1.05-.2.2-.4.4-.588.581-1.187,1.142-2.075,2,.05,3.4,1.021.673,1.837,1.229,2.652,1.783.89.606,1.777,1.21,2.927,1.965.292.192.571.39.844.583a4.761,4.761,0,0,0,3.117,1.3c.667-.062,1.358-.69,1.708-2.562C34.583,30.548,36.212,20.956,36.59,17a4.4,4.4,0,0,0-.042-.983,1.054,1.054,0,0,0-.358-.677,1.631,1.631,0,0,0-.969-.292c-.94.017-2.381.519-9.325,3.406Z" fill="#30abe7"/>
                        </svg>

                        <p>thecryptohub1</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

{% include "terms-and-conditions.njk" %}
