<footer id="footer">
    <div class="logo">
        <figure class="image">
            <img src="./assets/images/logo/tch-logo.svg" class="svg" alt="The Crypto Hub logo">
        </figure>
        <div class="footer-links">
            <div class="useful-links">
                <ul role="list">
                    <li><a href="https://t.me/thecryptohub1"><i class="fa-brands fa-telegram"></i> Telegram</a></li>
                    <li><a class="terms button jsModalButton"><i class="fa-solid fa-file-lines"></i> Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-links">
        <div class="sitemap">
            <h5>Sitemap</h5>
            <ul role="list">
                <li><a href="#champs">Champs</a></li>
                <li><a href="#avoid">Avoid</a></li>
                <li><a href="#compare">Compare</a></li>
                <li><a href="#trust">Trust</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="referral-links">
            <h5>Referral Links</h5>
            <ul role="list">
                {% for referral in collections.champs %}
                <li><a href="{{ referral.data.referralLink }}">{{ referral.data.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>