<header id="header">
    <figure class="image">
        <a href="/">
            {# <img src="/assets/images/logo.svg" alt="The Crypto Hub"> #}
            <h2>TheCryptoHub</h2>
        </a>
    </figure>

    <nav id="nav">
        <ul>
            <li><a href="#champs">Champs</a></li>
            <li><a href="#compare">Compare</a></li>
            <li><a href="#trust">Trust</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>