<header id="header">
    <a href="/" class="logo">
        <figure class="image">
            <img src="/assets/images/logo/tch-logo.svg" class="svg" alt="The Crypto Hub">
        </figure>
    </a>

    <nav id="nav">
        <ul role="list">
            <li><a href="#champs">Champs</a></li>
            <li><a href="#avoid">Avoid</a></li>
            <li><a href="#compare">Compare</a></li>
            <li><a href="#trust">Trust</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>