@use '../abstracts/variables' as *;

#section-avoid {
    position: relative;
    color: $white;

    p.pre-title:before {
        background: $white;
    }

    h2.title {
        font-weight: $fw-900;
        font-size: $fs-0;
    }

    #avoid {
        display: flex;
        gap: 2rem;

        .card {
            border-radius: $br-medium;
            height: 400px;
            padding: 2rem;

            figure.image {
                img {
                    max-height: 180px;
                }
            }
        }
    }
}
