@use '../abstracts/variables' as *;

#section-avoid {
    position: relative;
    color: $white;

    p.pre-title:before {
        background: $white;
    }

    h2.title {
        font-weight: $fw-900;
        font-size: $fs-0;
    }

    // display: flex;
    // gap: 2rem;

    .card {
        border-radius: $br-medium;
        padding: 2rem;
        min-height: 416px;

        figure.image {
            img {
                max-height: 180px;
                margin-bottom: 1rem;
            }
        }
    }
}
