@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#section-avoid {
    padding-inline: .5rem;

    h2 {
        span {
            color: $red;
        }
    }

    .accordion {
        border-bottom: none;
        margin-bottom: .5rem;
        
        &-header {
            background-image: $gradient;
            
            @include m.mobile {
                padding: 1rem;
            }
            
            &_title {
                font-size: $fs-2;
                margin-bottom: 0;
                margin-left: 1rem;

                @include m.mobile {
                    font-size: $fs-3;
                }
            }
        }


        &:hover .accordion-header h3 {
            left: unset;
        }
    }
}
