@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#section-contact {
    @include m.mobile {
        padding-top: 4rem;
    }
    
    .cols {
        padding: .5rem;
        background: rgba($white, .02);

        @include m.tableth {
            flex-direction: column-reverse !important;
        }

        .contact {
            &-form,  
            &-socials {
                flex: 2;

                h4 {
                    font-weight: $fw-300;
                    margin-bottom: 1.5rem;
                    
                    i {
                        font-size: $fs-3;
                        position: relative;
                        top: 3px;
                        margin-right: .5rem;
                        color: $blue-light;
                    }

                    @include m.mobile {
                        font-size: $fs-4;
                    }
                }
            }

            &-form {
                flex: 3;

                @include m.tableth {
                    width: 100%;
                }

                @include m.mobile {
                    padding: 1rem;
                }
            }

            &-socials {
                display: grid;
                place-items: center;
                color: $white;

                div {
                    text-align: center;
                }

                figure.qr {
                    display: flex;
                    justify-content: center;
                    
                    img {
                        max-width: 200px;
                    }
                }

                .social-link {
                    justify-content: center;
                    margin-top: 1rem;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        grid-template-columns: 1fr;
    
        & > div {
            text-align: left;

            label {
                margin-top: 10px;
                margin-bottom: 5px;
                display: inline-block;
                text-align: left;
                font-weight: $fw-300;
        
                & > small {
                    text-transform: lowercase;
                }
        
                small {
                    font-style: italic;
                }
            }
    
            &:last-child {
                grid-column: 1 / -1 !important;
            }
        }

        input,
        textarea {
            padding-block: 10px;
            background: none;
            color: $white;
            border: none;
            width: 100%;
            border-bottom: $border-light;
            font-family: $ff-body;

            &::placeholder {
                letter-spacing: 1px;
            }
            
            &:focus,
            &:active {
                outline: none;
            }
    
            &[type="submit"],
            &[type="reset"] {
                text-transform: uppercase;
                font-weight: $fw-500;
                margin-top: 1rem;
                border-bottom: none;
            }
    
            &[type="reset"] {
                $color: rgba($white, .05);
                background: $color;
                color: $white !important;
            
                &:hover {
                    background: darken($color, 10%);
                }
            }

            &[type="submit"] {
                background: $gradient;
                color: $white !important;
            
                &:hover {
                    // background: darken($gradient, 10%);
                }
            }
    
            &[type="date"] {
                color: $white;
            }
        }

        input {
            margin-bottom: 1rem;
        }

        .buttons {
            margin-top: 0;
            gap: 5px; 
        }
    }
}