@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* //////////////////////
	Footer
	/////////////////////// */

#footer {
	color: $white;
	padding: 4rem 6rem;
	width: 100%;
	display: flex;
	gap: 2rem;
	border-top: solid 2px rgba($antique-white, .5);

	@include m.tablet {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	@include m.mobile {
		align-items: start;
		text-align: left;
	}

	.logo {
		flex: 1;

		figure.image {
			svg {
				@include m.mobile {
					width: 300px;
					max-width: 100%;
				}
			}
		}
	}

	.footer-links {
		display: flex;

		@include m.mobile {
			flex-direction: column;
		}

		h5 {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: $fs-6;
			padding-bottom: .5rem;
			border-bottom: solid 1px rgba($antique-white, .3);
		}

		ul {
			padding-left: 0;
			list-style: none;

			li {
				a {
					color: $white;
					text-decoration: none;
					font-size: $fs-7;
					transition: color .2s ease-in-out;
					color: rgba($white, .5);

					i {
						font-size: $fs-3;
						position: relative;
						top: 3px;
						margin-right: .5rem;

						&.fa-telegram {
							margin-right: .25rem;
							left: -3px;
						}
					}
					
					&:hover {
						color: $white;
					}
				}
			}
		}

		.useful-links {
			ul {
				li {
					margin-bottom: .5rem;
				}
			}
		}

		
		& > div:not(:last-child) {
			margin-right: 4rem;

			@include m.mobile {
				margin-right: 0;
				margin-bottom: 2rem;
			}
		}
	}
	
	p:hover {
		cursor: pointer;
	}
}