@use '../abstracts/variables' as *;

/* //////////////////////
  Footer
  /////////////////////// */

#footer {
  background-color: $dark-black;
  color: $white;
  padding: 2rem 0;
  text-align: center;
  
  p:hover {
    cursor: pointer;
  }
}