@use '../abstracts/variables' as *;

/* //////////////////////
	Header
  /////////////////////// */

#header {
	background: rgba($white, .5);
	backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	margin: auto 4rem;
	border-radius: $br-medium;
	padding: 1rem 2.5rem;
	box-shadow: $box-shadow-subtle;
	position: fixed;
	top: 2rem;
	left: 4rem;
	right: 4rem;

	figure {
		flex: 1;

		// TEMPORARY UNTIL WE HAVE AN SVG LOGO
		h2 {
			font-size: 20px;
		}
	}

	#nav {
		ul {
			display: flex;
			gap: 2.5rem;
			list-style: none;
			font-size: $fs-7;
		}

		a {
			color: $black;
			text-decoration: none;
		}
	}
}

// [aria-current="page"] {
// 	font-weight: bold;
// }