@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* //////////////////////
	Header
  /////////////////////// */

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 2rem 4rem;

	@include m.mobile {
		padding: 2rem;
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255, 0);
		backdrop-filter: blur(10px);
		isolation: isolate;
		z-index: -1;
		transition: top .3s cubic-bezier(0.19, 1, 0.22, 1);

		html.is-scrolled & {
			top: 0;
		}
	}

	h2 {
		position: relative;
		z-index: 90;

		html.has-menu-active & {
			color: $navy-dark;
			transition: color .05s ease;
		}
	}

	#nav-content {
		@include m.tablet {
			background: $white;
			position: fixed;
			top: 0;
			left: -101%;
			width: 100%;
			height: 100%;
			padding: 8rem 2rem 4rem;
			display: flex;
			flex-direction: column;
			transition: left .8s cubic-bezier(0.19, 1, 0.22, 1);

			html.has-menu-active & {
				left: 0;
			}
		}

		#nav-resources {
			color: $navy-dark;

			h5 {
				display: inline-block;
				padding-bottom: .25rem;
				border-bottom: solid 1px $navy-dark;
				margin-bottom: .5rem;
			}

			ul {
				margin-bottom: 2rem;
			}
		}

		#nav {
			display: flex;
			flex: 1;

			ul {
				display: flex;
				gap: 2rem;
				
				@include m.tableth {
					gap: 1rem;
				}

				@include m.tablet {
					flex-direction: column;
					gap: 0;
				}

				li {
					font-size: $fs-5;
					position: relative;
					left: 50px;
					opacity: 0;
					
					@include m.tablet {
						font-size: $fs-2;
						
						html.has-menu-active & {
							left: 0;
							opacity: 1;
							transition: left 1s cubic-bezier(0.19, 1, 0.22, 1),
										opacity .3s ease-in;
							transition-delay: .2s;
		
							$delay: 0.05s;
							$navItems: 6;
							
							@for $i from 2 through $navItems {
								&:nth-child(#{$i}) {
									transition-delay: .25s + ($i - 2) * $delay;
								}
							}
						}

						a {
							color: $navy-dark;
						}
					}
				}
			}
		}
	}
}

// @keyframes fade {
// 	to {
// 		opacity: 1;
// 	}
// }