@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

.hero {
    height: 100vh;
    
    &-body {
        background: 
            radial-gradient(farthest-side at bottom left,rgba(#485C5B, 0.5), transparent),
            radial-gradient(farthest-corner at top right,rgba(#7671F0, .5), transparent 1000px),
            radial-gradient(circle, #34414E, #1B232A); 
    
        height: 100%;
        display: grid;
        place-items: center;
        text-align: center;

        .content {
            max-width: 1080px;
            color: $white;

            h1, p, svg {
                opacity: 0;
                transform: translateY(20px)
            }
            
            svg {
                margin-bottom: 1rem;
                max-width: 500px !important;
                
                @include m.desktop {
                    max-width: 300px !important;
                }
            }

            h1 {
                font-size: $fs-huge;
                font-weight: $fw-300;
                margin-bottom: 2rem;

                strong {
                    font-weight: $fw-900;
                }

                @include m.desktop {
                    font-size: calc($fs-1 + .5rem);
                }
                @include m.mobile {
                    font-size: calc($fs-2 + .4rem);
                }
            }

            p {
                font-size: $fs-5;
                max-width: 710px;
                margin-inline: auto;

                @include m.mobile {
                    font-size: $fs-6;
                    line-height: 1.9;
                }
            }
        }
    }
}