@use '../abstracts/variables' as *;

.hero {
    height: 100vh;
    
    &-body {
        background: 
            radial-gradient(farthest-side at bottom left,rgba(#485C5B, 0.5), transparent),
            radial-gradient(farthest-corner at top right,rgba(#7671F0, .5), transparent 1000px),
            radial-gradient(circle, #34414E, #1B232A); 
    
        height: 100%;
        display: grid;
        place-items: center;
        text-align: center;

        .content {
            max-width: 1080px;
            color: $white;

            h1, p, svg {
                opacity: 0;
                transform: translateY(20px)
            }
            
            svg {
                margin-bottom: 2rem;
            }

            h1 {
                font-size: $fs-huge;
                font-weight: $fw-300;
                margin-bottom: 2rem;

                strong {
                    font-weight: $fw-900;

                    @keyframes background-pan {
                        from {
                            background-position: 0% center;
                        }
                        
                        to {
                            background-position: -200% center;
                        }
                    }
                }
            }

            p {
                font-size: $fs-5;
                max-width: 710px;
                margin-inline: auto;
            }
        }
    }
}