@use '../abstracts/variables' as *;

#section-mvp {    
    p.pre-title {
        color: $blue;

        &:before {
            color: $blue;
        }
    }
    
    h2.title {
        font-weight: $fw-300;
        font-size: $fs-huge;
        margin-bottom: 3rem;
        color: $white;
    }

    .mvp {
        a.text-link {
            color: inherit;
            text-decoration: underline;
        }
        
        .card {
            flex-direction: column-reverse;
            max-width: 330px;
            min-height: 390px;

            span {
                position: absolute;
                top: -1.4rem;
                left: 0rem;
                font-size: 15rem;
                line-height: 1;
                font-weight: $fw-700;
                z-index: -1;
                opacity: .06;
            }

            &-image {
                flex: 1;
            }
        }
    }
}
