@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

.hamburger {
	display: block;
	width: 30px;
	height: 20px;
	cursor: pointer;
	position: relative;
	z-index: 90;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $white;
		border-radius: 3px;
		transition: transform 0.3s ease,
					background .05s ease;

		html.has-menu-active & {
			background: $navy-dark;
		}

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
		}

		&:nth-child(3) {
			top: 16px;
		}

		html.has-menu-active & {
			&:first-child {
				transform: translateY(8px) rotate(-45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}
			
			&:nth-child(3) {
				transform: translateY(-8px) rotate(45deg);
			}
		}
	}
}