@use '../abstracts/variables' as *;

/* //////////////////////
    General styling
  /////////////////////// */

body {
    background: $white;
}

figure.image {
    img {
        max-width: 100%;
    }
}

.is-divider {
    width: 100%;
    transform: translateY(-6.5px);
}

.logo {
    figure.image svg {
        max-width: 300px;
    }
}
