@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

.section {
    &.is-medium {
        padding: 6.5rem 3.5rem;

        @include m.mobile {
            padding: 4rem 2rem;
        }
    }

    .hero {
        &-body {
            padding: 6.5rem 3.5rem;

            @include m.tableth {
                padding: 3rem;
            }

            @include m.mobile {
                // padding-inline: 1.5rem;
            }
        }
    }
}

.container {
    max-width: 1152px;

    &:not(.hero-body &) {
        margin-inline: auto;
    }
    
    &.is-max-widescreen {
        max-width: 1440px;
        margin-inline: auto;
    }

    &.is-max-htablet {
        max-width: 1000px;
        margin-inline: auto;
    }
    
    &.is-max-tablet {
        max-width: 800px;
        margin-inline: auto;
    }
}

.cols {
    display: flex;
    align-items: center;

    @include m.tableth {
        flex-direction: column;
        text-align: center;
    }

    & > .left, 
    & > .right {
        flex: 1;
        padding: 3rem;
    }
}
